experiments.ipynb
clustring_experiment.ipynb
clusters

# Directories
venv/
env/
build/
*.egg-info/
__pycache__/
data/

# File formats
*.pyc

# Files
.env
text.txt
.DS_Store
.mypy_cache

src/chroma_db
src/faiss_index